@layer reset, base, tokens, recipes, utilities;

@layer base {
  body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.75em 0;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0.83em 0;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 1.12em 0;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.5em 0;
  }

  h6 {
    font-size: 0.75em;
    font-weight: bold;
    margin: 1.67em 0;
  }
}

.root {
  min-width: 600px;
  min-height: 1300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
